{% extends 'base.html' %}

{% block title %}Status{% endblock %}

{% block content %}
  <table class="not-too-wide" style="text-align: center">
    <tr>
      <th>First Day</th>
      <th>Last Day</th>
    </tr>
    <tr class="big-font">
      <td>{{ first_day}}</td>
      <td>{{ last_day}}</td>
    </tr>
  </table>
  <table class="not-too-wide" style="text-align: center">
    <tr>
      <th>Budget</th>
      <th/>
      <th>Spent</th>
      <th/>
      <th>Remaining</th>
    </tr>
    <tr class="big-font">
      <td>${{ budget }}</td>
      <td>&minus;</td>
      <td>${{ spent }}</td>
      <td>=</td>
      <td>${{ remaining }}</td>
    </tr>
  </table>
  <table width="100%" class="not-too-wide">
    <tr>
      <td>
        <form method="post" onsubmit="return confirm('Are you sure?')">
          <input type="submit" value="Finalize"/>
        </form>
      </td>
    </tr>
  </table>
{% endblock %}
